<div class="contenedor">
    <div class="barra-superior">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="contacto">
                    <img class="img-responsive" src="assets/img/Phone.png">
                    <a href="tel:+55 5308 1018">+(55) 5308 1018</a>
                </div>
                <div class="mail">
                    <img class="img-responsive" src="assets/img/Mail.png">
                    <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                </div>

            </div>
            <div class="derecha">
                <div class="social">
                    <a href="https://es-la.facebook.com/docX360/" target="_blank">
                        <img class="img-responsive" src="assets/img/facebook.png">
                    </a>
                </div>
                <div class="social">
                    <a target="_blank" href="https://www.youtube.com/channel/UCsdZEPQpKadAgtgVHv0k1hw">
                        <img class="img-responsive" src="assets/img/youtube.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">

                    <label for="check" class="checkbtn">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </label>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/precios">Precios</a></li>
                        <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a class="selected" routerLink="/contacto">Contáctanos</a></li>
                        <li><a routerLink="/">Ingresar</a></li>
                        <li><a routerLink="/registro">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="divTitulo2">
            <div class="textos">
                <div class="titulo">
                    <h1>Contáctanos </h1>
                </div>
                <div class="subtitulos">
                    <p>¿Tienes alguna duda? ¡No te preocupes! Estamos para ayudarte. Llega a nosotros a través de
                        cualquiera de nuestros canales de comunicación.</p>
                    <div class="divBoton">
                        <div (click)="scrollToElement(target)" class="boton">
                            <a>¡Quiero Contactarlos!</a>
                            <p class="flecha">>></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="imagen">
                <img src="assets/img/amico.png" alt="">
            </div>


        </div>


        <div class="divParrafo">
            <div class="parrafo2">

                <h1>Contáctanos</h1>


                <p>Será un placer saber de ti y poder ayudarte, para nuestro equipo de atención al cliente tu
                    satisfacción es prioridad. ¡Te Esperamos!</p>
                <div class="segundaParte">
                    <div class="centro">
                        <div class="social">
                            <a href="mailto:sos@docx360.com" target="_blank">
                                <img class="img-responsive" src="assets/img/mail5.png">
                                <p>Email</p>
                                <p>sos@docx360.com</p>
                            </a>
                        </div>
                        <div class="social">
                            <a target="_blank" href="https://es-la.facebook.com/docX360/">
                                <img class="img-responsive" src="assets/img/facebook3.png">
                                <p>Facebook</p>
                                <p>docx360</p>
                            </a>
                        </div>
                        <div class="social">
                            <a href="tel:+55 5308 1018" target="_blank">
                                <img class="img-responsive" src="assets/img/phone4.png">
                                <p>Teléfono</p>
                                <p>+57 123-1234567</p>
                            </a>
                        </div>

                    </div>
                </div>

            </div>





        </div>

        <div #target class="formularioContacto">
            <div class="titulo">
                <h1>¡Contáctanos! </h1>
            </div>

            <div class="formulario">
                <div class="datos">
                    <div class="cabezera">
                        <div>
                            <p>Enviar Mensaje</p>
                        </div>
                        <img class="img-responsive" src="assets/img/mail3.png">
                    </div>
                    <div class="datosPersonales">
                        <input type="text" placeholder="Primer Nombre">
                        <input type="text" placeholder="Apellido">
                    </div>
                    <div class="datosPersonales">
                        <input type="text" placeholder="Número de Telefono">
                        <input type="email" placeholder="Email">
                    </div>


                    <div class="datosPersonales2">
                        <textarea name="" placeholder="¿Cómo te podemos ayudar?" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div class="divBoton">
                        <div (click)="enviarMensaje()" class="boton">
                            <p>Enviar Mensaje</p>
                            <p class="flecha">>></p>
                        </div>
                    </div>
                </div>
                <div class="ubicacion">
                    <div>
                        <div>
                            <p>Enviar Mensaje</p>
                        </div>

                        <div class="segundaParte">
                            <div class="mail">
                                <img class="img-responsive" src="assets/img/mail4.png">
                                <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                            </div>
                            <div class="contacto">
                                <img class="img-responsive" src="assets/img/phone3.png">
                                <a href="tel:+55 5308 1018">+(55) 5308 1018</a>
                            </div>


                        </div>
                        <div class="terceraParte">
                            <div class="social">
                                <a href="https://es-la.facebook.com/docX360/" target="_blank">
                                    <img class="img-responsive" src="assets/img/facebook.png">
                                </a>
                            </div>
                            <div class="social">
                                <a target="_blank" href="https://www.youtube.com/channel/UCsdZEPQpKadAgtgVHv0k1hw">
                                    <img class="img-responsive" src="assets/img/youtube.png">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="cuartaParte">

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15037.282531334988!2d-99.313388!3d19.5707595!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d21ba6973f14b9%3A0x46ccbba96ccecbf0!2sHacienda%20de%20Valle%20Escondido%2C%2052937%20Cd%20L%C3%B3pez%20Mateos%2C%20M%C3%A9x.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sve!4v1620176523453!5m2!1ses!2sve"
                                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="footer">
        <div class="primeraParte">
            <div class="izquierda">
                <div class="social">
                    <a href="https://es-la.facebook.com/docX360/">
                        <img class="img-responsive" src="assets/img/facebook.png">
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.youtube.com/channel/UCsdZEPQpKadAgtgVHv0k1hw">
                        <img class="img-responsive" src="assets/img/youtube.png">
                    </a>
                </div>

            </div>
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/Paypal.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/Visa.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/American_Express.png">
                </div>
            </div>
        </div>
        <div class="segundaParte">
            <a class="terminos" routerLink="/terminos">Términos y Condiciones</a>
            <div class="centro">
                <div class="social">
                        <img class="img-responsive" src="assets/img/mail2.png">
                        <a href="mailto:sos@docx360.com ">Email</a>
                        <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                </div>
                <div class="social">
                        <img class="img-responsive" src="assets/img/facebook2.png">
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">Facebook</a>
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">docx360</a>

                </div>
                <div class="social">
        
                        <img class="img-responsive" src="assets/img/phone2.png">
                        <a href="tel:+55 5308 1018" >Teléfono</a>
                        <a href="tel:+55 5308 1018">+57 123-1234567</a>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021 docx360. Todos los derechos reservados. Developed by Smartbis</p>

            </div>
        </div>

    </div>

    <div class="footer2">
        <div class="primeraParte">

            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>

        </div>
        <div class="segundaParte">
            <a class="terminos" routerLink="/terminos">Términos y Condiciones</a>
            <div class="centro">
                <div class="social">
                        <img class="img-responsive" src="assets/img/mail2.png">
                        <a href="mailto:sos@docx360.com ">Email</a>
                        <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                </div>
                <div class="social">
                        <img class="img-responsive" src="assets/img/facebook2.png">
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">Facebook</a>
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">docx360</a>

                </div>
                <div class="social">
        
                        <img class="img-responsive" src="assets/img/phone2.png">
                        <a href="tel:+55 5308 1018" >Teléfono</a>
                        <a href="tel:+55 5308 1018">+57 123-1234567</a>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021 docx360. Todos los derechos reservados. Developed by Smartbis</p>

            </div>
        </div>

    </div>

</div>