<div class="contenedor">
    <div class="barra-superior">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="contacto">
                    <img class="img-responsive" src="assets/img/Phone.png">
                    <p>+57 123 1234567</p>
                </div>
                <div class="mail">
                    <img class="img-responsive" src="assets/img/Mail.png">
                    <p>hola@docx360.com</p>
                </div>

            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/twitter.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/instagram.png">
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">
                  
                    <label for="check" class="checkbtn">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </label>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
                        <li><a routerLink="/contacto">Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido">
        <div class="izquierda-derecha">
            <div class="izquierda registrer">

            </div>
            <div class="derecha">
                <div class="divTituloizq">
                    <h1>Registro</h1>
                </div>
                <div class="divSubtitulo">
                    <h1>Estás a un paso de empezar a tomar las mejores descisiones financieras</h1>
                </div>
                <div class="form">
                    <div class="datos">
                        <p>Nombre</p>
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="datos">
                        <p>Apellido</p>
                        <input type="text" placeholder="Apellido">
                    </div>
                    <div class="datos">
                        <p>Razón Social / Nombre Comercial</p>
                        <input type="text" placeholder="Razón Social / Nombre Comercial">
                    </div>
                    <div class="datos">
                        <p>Fecha de Nacimiento</p>
                        <input type="date" placeholder="Abril 08, 2021">
                    </div>
                    <div class="datos">
                        <p>Correo</p>
                        <input type="email" placeholder="hola@gmail.com">
                    </div>
                    <div class="datos">
                        <p>Contraseña</p>
                        <input type="password" placeholder="******************">
                    </div>
                    <div class="datos">
                        <p>Repetir Contraseña</p>
                        <input type="password" placeholder="******************">
                    </div>
                    <div class="datos">
                        <p>RFC</p>
                        <input type="text" placeholder="RFC">
                    </div>
                    <div class="datos">
                        <p>Clave de Identificación Électronica Confidencial</p>
                        <input type="password" placeholder="******************">
                    </div>
                </div>
                <div class="divBoton check">
                    <div class="divcheck">
                        <input type="checkbox" id="autorizo">
                        <label for="autorizo"> AUTORIZO A DOCX360 DESCARGAR Y ALMACENAR MIS COMPROBANTES
                            FISCALES</label>
                    </div>
                    <div class="divcheck">
                        <input type="checkbox" id="acepto">
                        <label for="acepto">ACEPTO EL AVISO DE PRIVACIDAD Y TÉRMINOS DEL SERVICIO</label>
                    </div>

                </div>
                <div class="divBoton duo">
                    <div  routerLink="/" class="boton inverso">
                        <p>Cancelar</p>
                    </div>
                    <div class="boton">
                        <p>Siguiente</p>
                        <p class="flecha">>></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="footer">
        <div class="primeraParte">
            <div class="izquierda">
                <div class="social">
                    <img class="img-responsive" src="assets/img/twitter.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/instagram.png">
                </div>

            </div>
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/Paypal.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/Visa.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/American_Express.png">
                </div>
            </div>
        </div>
        <div class="segundaParte">
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>hola@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
               <p>2021 Todos los Derechos Reservados</p>

            </div>
        </div>

    </div>

    <div class="footer2">
        <div class="primeraParte">
            
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            
        </div>
        <div class="segundaParte">
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>hola@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
               <p>2021 Todos los Derechos Reservados</p>

            </div>
        </div>

    </div>

</div>