<div class="contenedor">
    <div class="barra-superior">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="contacto">
                    <img class="img-responsive" src="assets/img/Phone.png">
                    <p>+57 123 1234567</p>
                </div>
                <div class="mail">
                    <img class="img-responsive" src="assets/img/Mail.png">
                    <p>hola@docx360.com</p>
                </div>

            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/twitter.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/instagram.png">
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">
                  
                    <label for="check" class="checkbtn">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </label>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
                        <li><a routerLink="/contacto">Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="divTitulo">
            <div class="titulo">
                <h1>Términos y </h1>
                <h1 class="color">Condiciones</h1>
            </div>
            <div class="subtitulos">
                <p>Si tienes alguna duda,contáctanos</p>
                <p class="color">¡Estamos para ayudarte!</p>
            </div>

        </div>


        <div class="divParrafo">
            <div class="parrafo">
                <h1>Título de párrafo</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et tortor eget velit suscipit
                    scelerisque. Nunc ut condimentum ipsum, nec blandit nisl. Morbi imperdiet condimentum nunc non
                    tincidunt. Maecenas velit urna, ultrices consectetur efficitur in, ullamcorper ac erat. Quisque sit
                    amet nulla ultrices, faucibus massa non, tempor augue. Pellentesque placerat tellus at lacinia
                    laoreet. Fusce tempor, urna at maximus lobortis, arcu augue tristique metus, eget ultrices urna
                    risus vitae ante. Phasellus imperdiet, lacus quis luctus porttitor, turpis felis blandit lorem,
                    efficitur ullamcorper eros justo tristique tellus. Vivamus commodo rutrum consectetur. Aliquam
                    efficitur mauris purus, quis feugiat leo mollis ac. Praesent vitae lacus id ex convallis sagittis.
                    Fusce arcu mi, euismod non lacinia eget, egestas at elit. Vestibulum aliquet metus turpis, sit amet
                    vestibulum nisl dignissim at. Etiam mattis est et est vestibulum tincidunt. Nunc nec elementum
                    velit. Curabitur bibendum malesuada felis. Orci varius natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Nam neque arcu, feugiat eget elit ut, lacinia tempus sem. Mauris at
                    pulvinar arcu, ac aliquet nunc. Sed faucibus, sapien condimentum scelerisque imperdiet, lorem erat
                    imperdiet libero, sed vestibulum mi libero faucibus urna. Donec malesuada justo ornare fermentum
                    sodales. Pellentesque egestas tincidunt libero non finibus. Pellentesque gravida ligula ut tristique
                    feugiat. Duis posuere vel quam ac bibendum. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos. Nunc sit amet ultricies diam. Integer in fringilla ligula,
                    quis feugiat magna. Nunc eu risus vitae velit elementum lobortis ut a ante. Curabitur facilisis diam
                    at justo facilisis molestie. Aliquam finibus arcu vitae elit suscipit bibendum. Ut id arcu molestie,
                    egestas elit ut, condimentum nisl. Nulla bibendum felis sit amet mauris tempor, non vestibulum
                    mauris laoreet. Sed non posuere sapien, in tristique tellus.</p>
            </div>

            <div class="parrafo">
                <h1>Título de párrafo</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et tortor eget velit suscipit
                    scelerisque. Nunc ut condimentum ipsum, nec blandit nisl. Morbi imperdiet condimentum nunc non
                    tincidunt. Maecenas velit urna, ultrices consectetur efficitur in, ullamcorper ac erat. Quisque sit
                    amet nulla ultrices, faucibus massa non, tempor augue. Pellentesque placerat tellus at lacinia
                    laoreet. Fusce tempor, urna at maximus lobortis, arcu augue tristique metus, eget ultrices urna
                    risus vitae ante. Phasellus imperdiet, lacus quis luctus porttitor, turpis felis blandit lorem,
                    efficitur ullamcorper eros justo tristique tellus. Vivamus commodo rutrum consectetur. Aliquam
                    efficitur mauris purus, quis feugiat leo mollis ac. Praesent vitae lacus id ex convallis sagittis.
                    Fusce arcu mi, euismod non lacinia eget, egestas at elit. Vestibulum aliquet metus turpis, sit amet
                    vestibulum nisl dignissim at. Etiam mattis est et est vestibulum tincidunt. Nunc nec elementum
                    velit. Curabitur bibendum malesuada felis. Orci varius natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Nam neque arcu, feugiat eget elit ut, lacinia tempus sem. Mauris at
                    pulvinar arcu, ac aliquet nunc. Sed faucibus, sapien condimentum scelerisque imperdiet, lorem erat
                    imperdiet libero, sed vestibulum mi libero faucibus urna. Donec malesuada justo ornare fermentum
                    sodales. Pellentesque egestas tincidunt libero non finibus. Pellentesque gravida ligula ut tristique
                    feugiat. Duis posuere vel quam ac bibendum. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos. Nunc sit amet ultricies diam. Integer in fringilla ligula,
                    quis feugiat magna. Nunc eu risus vitae velit elementum lobortis ut a ante. Curabitur facilisis diam
                    at justo facilisis molestie. Aliquam finibus arcu vitae elit suscipit bibendum. Ut id arcu molestie,
                    egestas elit ut, condimentum nisl. Nulla bibendum felis sit amet mauris tempor, non vestibulum
                    mauris laoreet. Sed non posuere sapien, in tristique tellus.</p>
            </div>

            <div class="dudas">
                <p>  ¿Tienes alguna duda?</p>
              
            </div>
            

        </div>

    </div>
    <div class="contenido2">
        <div class="frecuentes">
           
            <div class="boton">
                <p>Preguntas Frecuentes</p>
              
            </div>
        </div>

        <div class="contactanos">
            <div class="boton">
                <p>Contáctanos</p>
            
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="primeraParte">
            <div class="izquierda">
                <div class="social">
                    <img class="img-responsive" src="assets/img/twitter.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/instagram.png">
                </div>

            </div>
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/Paypal.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/Visa.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/American_Express.png">
                </div>
            </div>
        </div>
        <div class="segundaParte">
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>hola@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
                <p>2021 Todos los Derechos Reservados</p>

            </div>
        </div>

    </div>

    <div class="footer2">
        <div class="primeraParte">
            
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            
        </div>
        <div class="segundaParte">
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>hola@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
               <p>2021 Todos los Derechos Reservados</p>

            </div>
        </div>

    </div>

</div>