<div class="contenedor">
    <div class="barra-superior">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="contacto">
                    <img class="img-responsive" src="assets/img/Phone.png">
                    <p>+(55) 5308 1018</p>
                </div>
                <div class="mail">
                    <img class="img-responsive" src="assets/img/Mail.png">
                    <p>sos@docx360.com</p>
                </div>

            </div>
            <div class="derecha">
                <div class="social">
                    <a href="https://es-la.facebook.com/docX360/">
                        <img class="img-responsive" src="assets/img/facebook.png">
                    </a>
                </div>
                <div class="social">
                    <a href="">
                        <img class="img-responsive" src="assets/img/instagram.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    <input type="checkbox" id="check">

                    <label for="check" class="checkbtn">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </label>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/precios">Precios</a></li>
                        <li><a  class="selected" routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a routerLink="/contacto">Contáctanos</a></li>
                        <li><a routerLink="/">Ingresar</a></li>
                        <li><a routerLink="/registro">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido colunma">
        <div class="divTitulo">
            <div class="titulo">
                <h1>Preguntas </h1>
                <h1 class="color">Frecuentes</h1>
            </div>
            <div class="subtitulos">
                <p>¿No encuentras tu pregunta? Al final de la página hallarás un pequeño formulario para que nos
                    contactes.</p>
                <p class="color">¡Estamos para ayudarte!</p>
            </div>

        </div>


        <div class="divParrafo">
            <div class="parrafo">
                <div id="menu">
                    <ul>
                        <li class="selected" (click)="listaPreguntas('general')"><a >Generalidades</a></li>
                        <li><a (click)="listaPreguntas('fiscal')" >Fiscal y contable</a></li>
                        <li><a (click)="listaPreguntas('pagos')" >Pagos y suscripción </a></li>
                    </ul>
                </div>
            </div>


            <div class="preguntas">
                <div class="listaPreguntas">
                    <div id="menu">
                        <ul>
                            <li *ngFor="let l of listapreguntas" id="{{l.id}}"><a id="{{l.id+100}}" (click)="seleccionarPregunta(l.id)" >{{l.pregunta}}</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="descripcioPregunta">
                    <div>
                        <h4>{{tituloSeleccionado}} </h4>
                        <p>{{contenidoSeleccionado}}</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="formularioContacto">
            <div class="titulo">
                <h1>¡Contáctanos! </h1>
            </div>

            <div class="formulario">
                <div class="datos">
                    <div class="cabezera">
                        <div>
                            <p>Enviar Mensaje</p>
                        </div>
                        <img class="img-responsive" src="assets/img/mail3.png">
                    </div>
                    <div class="datosPersonales">
                        <input type="text" placeholder="Primer Nombre">
                        <input type="text" placeholder="Apellido">
                    </div>
                    <div class="datosPersonales">
                        <input type="text" placeholder="Número de Telefono">
                        <input type="email" placeholder="Email">
                    </div>

                    <div class="datosPersonales2">
                        <input type="text" placeholder="Compañía">

                    </div>

                    <div class="datosPersonales2">
                        <textarea name="" placeholder="¿Cómo te podemos ayudar?" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div class="divBoton">
                        <div (click)="enviarMensaje()" class="boton">
                            <p>Enviar Mensaje</p>
                            <p class="flecha">>></p>
                        </div>
                    </div>
                </div>
                <div class="ubicacion">
                    <div>
                        <div>
                            <p>Enviar Mensaje</p>
                        </div>

                        <div class="segundaParte">
                            <div class="mail">
                                <img class="img-responsive" src="assets/img/mail4.png">
                                <p>sos@docx360.com</p>
                            </div>
                            <div class="contacto">
                                <img class="img-responsive" src="assets/img/phone3.png">
                                <p>+(55) 5308 1018</p>
                            </div>


                        </div>
                        <div class="terceraParte">
                            <div class="social">
                                <img class="img-responsive" src="assets/img/facebook.png">
                            </div>
                            <div class="social">
                                <img class="img-responsive" src="assets/img/Twitter2.png">
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="cuartaParte">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1804478717263!2d-3.706218984388758!3d40.427003062938326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422862150e82b3%3A0x78bf2642005218b1!2sPlaza%20del%20Dos%20de%20Mayo!5e0!3m2!1ses-419!2sve!4v1619115543925!5m2!1ses-419!2sve"
                                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="footer">
        <div class="primeraParte">
            <div class="izquierda">
                <div class="social">
                    <a href="https://es-la.facebook.com/docX360/">
                        <img class="img-responsive" src="assets/img/facebook.png">
                    </a>
                </div>
                <div class="social">
                    <a href="">
                        <img class="img-responsive" src="assets/img/instagram.png">
                    </a>
                </div>

            </div>
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/Paypal.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/Visa.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/American_Express.png">
                </div>
            </div>
        </div>
        <div class="segundaParte">
            <a routerLink="/terminos">Términos y Condiciones</a>
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>sos@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021 docx360. Todos los derechos reservados. Developed by Smartbis</p>

            </div>
        </div>

    </div>

    <div class="footer2">
        <div class="primeraParte">
            
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            
        </div>
        <div class="segundaParte">
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>sos@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
               <p>© 2021 docx360. Todos los derechos reservados. Developed by Smartbis</p>

            </div>
        </div>

    </div>

</div>