<div class="contenedor">
    <div class="barra-superior">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="contacto">
                    <img class="img-responsive" src="assets/img/Phone.png">
                    <a href="tel:+55 5308 1018">+(55) 5308 1018</a>
                </div>
                <div class="mail">
                    <img class="img-responsive" src="assets/img/Mail.png">
                    <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                </div>

            </div>
            <div class="derecha">
                <div class="social">
                    <a href="https://es-la.facebook.com/docX360/" target="_blank">
                        <img class="img-responsive" src="assets/img/facebook.png">
                    </a>
                </div>
                <div class="social">
                    <a  target="_blank" href="https://www.youtube.com/channel/UCsdZEPQpKadAgtgVHv0k1hw" >
                        <img class="img-responsive" src="assets/img/youtube.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    
                    <input type="checkbox" id="check">
                  
                    <label for="check" class="checkbtn">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </label>
                
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/precios">Precios</a></li>
                        <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a routerLink="/contacto">Contáctanos</a></li>
                        <li><a routerLink="/registro">Regístrate</a></li>
                        <li><a class="selected" routerLink="/">Ingresar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido">
        <div class="izquierda-derecha">
            <div class="izquierda login">
              
            </div>
            <div class="derecha">
                <div class="divTituloizq">
                    <h1>Inicio de Sesión</h1>
                </div>
                <div class="divSubtitulo">
                    <h1>¡Que gusto tenerte de vuelta!</h1>
                </div>
                <div class="form">
                    <div class="datos">
                        <p>Nombre</p>
                        <input type="text"  placeholder="Nombre">
                    </div>
                    <div class="datos">
                        <p>Contraseña</p>
                        <input type="password" placeholder="******************">
                    </div>
                </div>

                <div class="divBoton">
                    <div class="boton">
                        <p>Entrar</p>
                        <p class="flecha">>></p>
                    </div>
                </div>
                <div class="enlaces">
                    <a class="forgot" href="#">Olvidé mi contraseña</a>
                </div>
                <div class="enlaces">
                    <a class="registrer" routerLink="/registro">Registrarse</a>
                </div>
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="primeraParte">
            <div class="izquierda">
                <div class="social">
                    <a href="https://es-la.facebook.com/docX360/">
                        <img class="img-responsive" src="assets/img/facebook.png">
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.youtube.com/channel/UCsdZEPQpKadAgtgVHv0k1hw">
                        <img class="img-responsive" src="assets/img/youtube.png">
                    </a>
                </div>

            </div>
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/Paypal.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/Visa.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/American_Express.png">
                </div>
            </div>
        </div>
        <div class="segundaParte">
            <a class="terminos" routerLink="/terminos">Términos y Condiciones</a>
            <div class="centro">
                <div class="social">
                        <img class="img-responsive" src="assets/img/mail2.png">
                        <a href="mailto:sos@docx360.com ">Email</a>
                        <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                </div>
                <div class="social">
                        <img class="img-responsive" src="assets/img/facebook2.png">
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">Facebook</a>
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">docx360</a>

                </div>
                <div class="social">
        
                        <img class="img-responsive" src="assets/img/phone2.png">
                        <a href="tel:+55 5308 1018" >Teléfono</a>
                        <a href="tel:+55 5308 1018">+57 123-1234567</a>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021 docx360. Todos los derechos reservados. Developed by Smartbis</p>

            </div>
        </div>

    </div>

    <div class="footer2">
        <div class="primeraParte">

            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>

        </div>
        <div class="segundaParte">
            <a class="terminos" routerLink="/terminos">Términos y Condiciones</a>
            <div class="centro">
                <div class="social">
                        <img class="img-responsive" src="assets/img/mail2.png">
                        <a href="mailto:sos@docx360.com ">Email</a>
                        <a href="mailto:sos@docx360.com ">sos@docx360.com</a>
                </div>
                <div class="social">
                        <img class="img-responsive" src="assets/img/facebook2.png">
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">Facebook</a>
                        <a  href="https://es-la.facebook.com/docX360/" target="_blank">docx360</a>

                </div>
                <div class="social">
        
                        <img class="img-responsive" src="assets/img/phone2.png">
                        <a href="tel:+55 5308 1018" >Teléfono</a>
                        <a href="tel:+55 5308 1018">+57 123-1234567</a>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
                <p>© 2021 docx360. Todos los derechos reservados. Developed by Smartbis</p>

            </div>
        </div>

    </div>
</div>