<div class="contenedor">
    <div class="barra-superior">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="contacto">
                    <img class="img-responsive" src="assets/img/Phone.png">
                    <p>+57 123 1234567</p>
                </div>
                <div class="mail">
                    <img class="img-responsive" src="assets/img/Mail.png">
                    <p>hola@docx360.com</p>
                </div>

            </div>
            <div class="derecha">
                <div class="social">
                    <img class="img-responsive" src="assets/img/twitter.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook.png">
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/instagram.png">
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="izquierda-derecha">
            <div class="izquierda">
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>

            </div>
            <div class="derecha">
                <div id="menu">
                    
                    <input type="checkbox" id="check">
                  
                    <label for="check" class="checkbtn">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </label>
                
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
                        <li><a routerLink="/contacto">Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenido">
        <div class="izquierda-derecha">
            <div class="izquierda login">
              
            </div>
            <div class="derecha">
                <div class="divTituloizq">
                    <h1>Inicio de Sesión</h1>
                </div>
                <div class="divSubtitulo">
                    <h1>¡Que gusto tenerte de vuelta!</h1>
                </div>
                <div class="form">
                    <div class="datos">
                        <p>Nombre</p>
                        <input type="text"  placeholder="Nombre">
                    </div>
                    <div class="datos">
                        <p>Contraseña</p>
                        <input type="password" placeholder="******************">
                    </div>
                </div>

                <div class="divBoton">
                    <div class="boton">
                        <p>Entrar</p>
                        <p class="flecha">>></p>
                    </div>
                </div>
                <div class="enlaces">
                    <a class="forgot" href="#">Olvidé mi contraseña</a>
                </div>
                <div class="enlaces">
                    <a class="registrer" routerLink="/registro">Registrarse</a>
                </div>
                <div class="divLogo">
                    <img class="img-responsive" src="assets/img/logo.png">
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">
        <div class="primeraParte">
            
            <div class="centro">
                <img class="img-responsive" src="assets/img/logo.png">
            </div>
            
        </div>
        <div class="segundaParte">
            <div class="centro">
                <div class="social">
                    <img class="img-responsive" src="assets/img/mail2.png">
                    <p>Email</p>
                    <p>hola@docx360.com</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/facebook2.png">
                    <p>Facebook</p>
                    <p>docx360</p>
                </div>
                <div class="social">
                    <img class="img-responsive" src="assets/img/phone2.png">
                    <p>Teléfono</p>
                    <p>+57 123-1234567</p>
                </div>

            </div>
        </div>
        <div class="terceraParte">
            <div class="centro">
               <p>2021 Todos los Derechos Reservados</p>

            </div>
        </div>

    </div>
</div>